<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silver.framework.system.mapper.SysUserMailMapper">
    <resultMap type="cn.silver.framework.system.domain.SysUserMail" id="BaseResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="mailAddr" column="mail_addr"/>
        <result property="smtpAddr" column="smtp_addr"/>
        <result property="smtpUser" column="smtp_user"/>
        <result property="smtpPass" column="smtp_pass"/>
    </resultMap>
</mapper>