<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silver.framework.system.mapper.SysMessageConfigMapper">
    <resultMap type="SysMessageConfig" id="BaseResult">
        <result property="id" column="id"/>
        <result property="messageName" column="message_name"/>
        <result property="corpId" column="corp_id"/>
        <result property="messageLink" column="message_link"/>
        <result property="agentId" column="agent_id"/>
        <result property="agentSecret" column="agent_secret"/>
        <result property="createBy" column="create_by"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateName" column="update_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
</mapper>