<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silver.framework.system.mapper.SysNoticeUserMapper">
    <resultMap type="cn.silver.framework.system.domain.SysNoticeUser" id="BaseResult">
        <result property="id" column="id"/>
        <result property="noticeId" column="notice_id"/>
        <result property="userId" column="user_id"/>
        <result property="readFlag" column="read_flag"/>
        <result property="readTime" column="read_time"/>
    </resultMap>
</mapper>