package ${packageName}.service.impl;

    #if($table.crud)
        #set($Service="BaseServiceImpl")
    #elseif($table.data || $table.sub)
        #set($Service="BaseServiceImpl")
    #elseif($table.tree)
        #set($Service="TreeServiceImpl")
    #end

    $Service;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.I${ClassName}Service;
import org.springframework.stereotype.Service;

/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends $Service<${ClassName}Mapper, ${ClassName}> implements I${ClassName}Service{

        }
