<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silver.framework.config.mapper.SysTagMapper">

    <resultMap id="SysTagMapperResult" type="cn.silver.framework.config.domain.SysTag">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="remark" column="remark"/>
        <result property="orderNum" column="order_num"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateName" column="update_name"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getTagByPid" parameterType="java.lang.String" resultMap="SysTagMapperResult">
        select id,
               code,
               name,
               pid,
               remark,
               order_num,
               create_by,
               update_by,
               update_name,
               update_time,
               deleted
        from SYS_TAG
        where pid = #{pid}
          and deleted != '1'
        order by order_num ASC
    </select>

    <select id="getTagByCode" parameterType="java.lang.String" resultMap="SysTagMapperResult">
        select id,
               code,
               name,
               pid,
               remark,
               order_num,
               create_by,
               update_by,
               update_name,
               update_time,
               deleted
        from SYS_TAG
        where code = #{code}
          and deleted != '1'
        order by order_num ASC
    </select>

    <select id="getTagByName" parameterType="arrayList" resultMap="SysTagMapperResult">
        select id,code,name,pid,remark,order_num,create_by,update_by,update_name,update_time,deleted from SYS_TAG
        where name in
        <foreach collection="name" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>
</mapper>
